<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<form style="margin: 50px 200px" action="/sign/in" method="post">
    <div>
        <label for="username">用户名：</label>
        <input type="text" id="username" name="username" placeholder="请输入用户名" required>
    </div>
    <div>
        <label for="password">密码：</label>
        <input type="password" id="password" name="password" placeholder="请输入密码" required>
    </div>
    <div>
        <input type="submit" value="登陆">
        <br>
        <a href="/sign/up">注册</a>
    </div>
</form>
</body>
</html>