**/target/**
.idea/
Thumbs.db
ehthumbs.db
Desktop.ini
.project
.settings/*
.settings
.classpath
.DS_Store
*.iml
*.ipr
*.iws
/target/
out/
bin/
build/
#src/main/resources/config-production/
logs
files/
temp
rebel.xml
classes/