<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水浒烤肉</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/shuihu.css" rel="stylesheet">

    <style>
        body {
            padding-top: 4.5rem;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <script src="/static/js/vue.js"></script>
    <script src="/static/js/qs.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/jquery-3.5.1.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
</head>
<body>
<div id="all-space"></div>
<template id="dishes-template">
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">
                {{uname == null ? '登录':uname}}
                <svg style="color: gold" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gem" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z"/>
                </svg></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>xxx
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">点菜</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">订单</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg width="1.3rem" height="1.3rem" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="搜索" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="jumbotron">
                <h5>菜单列表</h5>
                <div style="margin: 0.5rem 1rem">
                    <a class="text-black-50 btn-inline" :class="category == 0 ? 'selected' : ''" @click="getDishesByCategory(0)">全部</a>
                    <a class="text-black-50 btn-inline" :class="category == 1 ? 'selected' : ''" @click="getDishesByCategory(1)">类别1</a>
                    <a class="text-black-50 btn-inline" :class="category == 2 ? 'selected' : ''" @click="getDishesByCategory(2)">类别2</a>
                    <a class="text-black-50 btn-inline" :class="category == 3 ? 'selected' : ''" @click="getDishesByCategory(3)">类别3</a>
                </div>
                <table class="table text-center">
                    <tr>
                        <th>实物视图</th>
                        <th>名称</th>
                        <th>分类</th>
                        <th>价格</th>
                        <th>单位</th>
                        <th>今日剩余</th>
                        <th>下单</th>
                    </tr>
                    <tr v-for="item in dishList">
                        <td><img class="img-sm" :src="item.img_path"></td>
                        <td>{{item.dish_name}}</td>
                        <td>
                            <span v-if="item.category == 1">类别1</span>
                            <span v-if="item.category == 2">类别2</span>
                            <span v-if="item.category == 3">类别3</span>
                        </td>
                        <td>{{item.current_price}}</td>
                        <td>元/{{item.unit}}</td>
                        <td>{{item.quantity}}</td>
                        <td>
                            <input type="number" value="0">
                            <a class="btn btn-sm btn-link" @click="addOrder($event, item.id)">添加</a>
                        </td>
                    </tr>
                </table>
                <div v-if="maxPageNum > 1" style="margin-left: 1rem">
                    <a class="btn btn-sm btn-light" :class="currentPageNo == 1 ? 'disabled' : ''" @click="beforePage">上一页</a>
                    {{currentPageNo}}
                    <a class="btn btn-sm btn-light" :class="currentPageNo == maxPageNum ? 'disabled' : ''" @click="nextPage">下一页</a>
                </div>
            </div>
        </main>
    </div>
</template>
<script>
    var app = new Vue({
        el: '#all-space',
        template: '#dishes-template',
        data: {
            uname: null,
            dishList: [],
            currentPageNo: 1,
            maxPageNum: 0,
            category: 0
        },
        created: function () {
            this.loadDishes();
        },
        methods: {
            loadDishes: function (){
                var self = this;
                this.uname = sessionStorage.getItem('uname');
                var formData = new FormData();
                formData.append("pageNo", self.currentPageNo);
                formData.append("pageSize", 6);
                formData.append("category", self.category);
                axios.post("/dishList", formData, {
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(response => {
                    var result = response.data;
                    if (result.code == 200){
                        self.dishList = result.data.content;
                        self.maxPageNum = result.data.totalPage;
                        console.log(self.currentPageNo+","+self.maxPageNum)
                    }else {
                        alert(result.msg);
                    }
                }).catch(e => {
                    console.log(e);
                })
            },
            scrollBottom: function (event) {
                let element = event.target;
                let scrHei = element.scrollHeight - element.clientHeight;
                if (scrHei - element.scrollTop <= 1 && this.currentPageNo <= this.maxPageNum) {
                    this.loadDishes();
                }
            },
            getDishesByCategory: function (cate) {
                this.currentPageNo = 1;
                this.maxPageNum = 0;
                this.category = cate;
                this.loadDishes();
            },
            addOrder: function (event, dishId) {

            },
            beforePage: function () {
                this.currentPageNo -= 1;
                this.loadDishes();
            },
            nextPage: function () {
                this.currentPageNo += 1;
                this.loadDishes();
            }
        }
    });
</script>
</body>
</html>