<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sign in</title>

<!--    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">-->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<div id="login-form"></div>
<template id="login-tmpl">
    <form class="form-signin">
        <img class="mb-4" src="/static/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">水浒烤肉</h1>
        <label for="username" class="sr-only">用户名</label>
        <input type="text" id="username" ref="username" v-model="username" class="form-control" placeholder="用户名">
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" ref="password" v-model="password" class="form-control" placeholder="密码">
        <div class="checkbox mb-3">
            <label>
                <input v-model="remember" type="checkbox" value="1"> 记住密码
            </label>
        </div>
        <a class="btn btn-group-lg btn-primary btn-block" @click="loginSubmit">登录</a>
        <a class="btn btn-group-lg btn-outline-success btn-block" @click="registerPage">注册</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
</template>
<script>
    // var $ = jQuery;
    var app = new Vue({
        el: '#login-form',
        template: '#login-tmpl',
        data: {
            username: null,
            password: null,
            remember: null
        },
        methods: {
            loginSubmit: function () {
                if (this.username == null){
                    alert("用户名不能为空");
                    this.$refs.username.focus();
                    return false;
                }
                if (this.password == null){
                    alert("密码不能为空");
                    this.$refs.password.focus();
                    return false;
                }
                axios({
                    method: 'post',
                    url: '/login',
                    data: {
                        login_name: app.username,
                        password: app.password,
                        rememberMe: app.remember
                    }
                }).then(function (response) {
                    var result = response.data;
                    if (result.code == 200){
                        sessionStorage.setItem('uname', app.username);
                        window.location.href = '/home';
                    } else {
                        console.log(result.msg);
                    }
                }).catch(function (msg) {
                    alert("登录失败，请稍后重试");
                });
            },
            registerPage: function (){
                window.location.href = "/register";
            }
        }
    });
</script>
</body>
</html>