<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>水浒烤肉</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/shuihu.css" rel="stylesheet">

    <style>
        body {
            padding-top: 4.5rem;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .my-img {
            height: 8rem;
            width: 10rem;
            display: block;
            padding: 1px;
            border: solid 1px #5a6268;
        }

        .dish-st {
            height: 8rem;
            padding: 0.5rem 0.8rem;
            display: inline-block;
            vertical-align: top;
            width: 51rem;
        }
    </style>
    <script src="/static/js/vue.js"></script>
</head>
<body>
<div id="all-space"></div>
<template id="vue-space">
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">{{uname == null ? '登录':uname}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">点菜</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">购物车</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">订单</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg width="1.3rem" height="1.3rem" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="搜索" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="jumbotron">
                <h1>本店推荐</h1>
                <div style="height: 36rem;overflow: auto" @scroll="scrollBottom($event)">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in dishList">
                            <a href="" @click="dishDetail" style="display: inline-block; vertical-align: top">
                                <img class="my-img" :src="item.img_path">
                            </a>
                            <div class="bg-light dish-st">
                                <div class="inner-panel">
                                    <a href="" class="h3">{{item.dish_name}}</a>
                                    <span class="text-delete">原价: {{item.origin_price}}元/{{item.unit}}</span>
                                    <span class="text-success">现价: {{item.current_price}}元/{{item.unit}}</span>
                                    <p class="text-sm text-black-50">{{item.description}}</p>
                                </div>
                                <div class="inner-panel">
                                    <label for="quantity" class="text-danger">今日剩余：</label>
                                    <span id="quantity" class="text-underline">{{item.quantity}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="center-block">
                        <span class="text-black-50">
                            >>>{{currentPageNo >= maxPageNum ? '没有更多了' : '正在加载'}}<<<
                        </span>
                        <span class="text-black-50" v-if="currentPageNo < maxPageNum">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>
<script src="/static/js/qs.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/jquery-3.5.1.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script>
    var app = new Vue({
        el: '#all-space',
        template: '#vue-space',
        data: {
            uname: null,
            dishList: [],
            currentPageNo: 1,
            maxPageNum: 0,
            category: 0
        },
        created: function () {
            this.loadDishes();
        },
        methods: {
            dishDetail: function (){

            },
            loadDishes: function (){
                var self = this;
                this.uname = sessionStorage.getItem('uname');
                var formData = new FormData();
                formData.append("pageNo", self.currentPageNo);
                formData.append("pageSize", 6);
                formData.append("category", self.category);
                axios.post("/dishList", formData, {
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(response => {
                    var result = response.data;
                    if (result.code == 200){
                        self.dishList.push(...result.data.content);
                        self.currentPageNo += 1;
                        self.maxPageNum = result.data.totalPage;
                    }else {
                        alert(result.msg);
                    }
                }).catch(e => {
                    console.log(e);
                })
            },
            scrollBottom: function (event) {
                let element = event.target;
                let scrHei = element.scrollHeight - element.clientHeight;
                if (scrHei - element.scrollTop < 30 && this.currentPageNo < this.maxPageNum) {
                    this.loadDishes();
                }
            }
        }
    });
</script>
</body>
</html>